<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ _('Category Details') }}: {{ _(category) }}</title>
    <link href="{{ url_for('static', filename='dist/css/main.css') }}" rel="stylesheet">
    <script type="module" src="{{ url_for('static', filename='dist/js/main.js') }}"></script>
</head>
<body>
    <header>
        {% include 'header.html' %}
    </header>
    <main class="container-fluid">
        <h1>{{ _('Details for Category') }}: {{ _(category) }}</h1>
        <h2>{{ _('Account') }}: {{ formatted_account }}</h2>
        <div class="table-responsive">
            <table id="category-details-table" class="table table-bordered" data-datatable="true">
                <thead>
                    <tr>
                        <th>{{ _('Month') }}</th>
                        <th>{{ _('Total') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        <td>{{ row.date.display }}</td>
                        <td>{{ row.total.display }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="/" class="btn btn-secondary">{{ _('Back') }}</a>
    </main>
    <footer class="bg-success text-white text-center py-3 mt-3">
        {% include 'footer.html' %}
    </footer>
</body>
</html>
